@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  html {
    @apply font-montserrat text-[100%];
  }

  body {
    @apply bg-[#eee] bg-[url("https://www.transparenttextures.com/patterns/cubes.png")];
  }

  section {
    @apply min-h-screen;
  }

  form input,
  form textarea {
    @apply font-montserrat w-full resize-none border-none p-[4px];
  }
}

@layer components {
  .button {
    @apply bg-primaryColor text-textColor shadow-button-shadow absolute bottom-[-18px] right-[18px] h-[36px] w-[36px] cursor-pointer rounded-[50%] border-none outline-none;
  }
}

@layer utilities {
  .wrapper {
    width: min(1110px, calc(100% - 32px));
    margin-inline: auto;
  }
}
